APP_PORT=8083

DB_HOST=host.docker.internal
DB_PORT=3308
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_SUBSCRIPTION_DELIVERY_ORDER=msa4-team1.subscription.delivery-orders.v1
KAFKA_TOPIC_AUTH_USER=msa4-team1.auth.user-events.v1
DELIVERY_AUTH_CONSUMER_GROUP=delivery-service-auth-group
DELIVERY_ORDER_CONSUMER_GROUP=delivery-service-order-group
KAFKA_RETRY_INTERVAL_MS=1000
KAFKA_MAX_RETRIES=3

KAFKA_TOPIC_DELIVERY_EVENT=msa4-team1.delivery.delivery-events.v1
KAFKA_TOPIC_DELIVERY_REFUND_EVENT=msa4-team1.delivery.refund-events.v1
KAFKA_TOPIC_OPERATION_NOTIFICATION=msa4-team1.delivery.operation-notification-requests.v1

MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=msa4-team1
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_IMAGE_PATH=delivery/completion-photos
DELIVERY_PHOTO_MAX_FILE_SIZE=10MB
DELIVERY_PHOTO_MAX_REQUEST_SIZE=11MB
DELIVERY_PHOTO_PRESIGNED_GET_EXPIRATION=10m
DELIVERY_PHOTO_MAX_FILE_SIZE_BYTES=10485760

PERSONAL_DATA_ENCRYPTION_KEY=
DELIVERY_INTERNAL_API_KEY=
